:root {
  --primary-text-colour: #212121;
  --secondary-text-color: #757575;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
  --tipycal-margin: 30px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.page {
  color: var(--primary-text-colour);
  background-color: var(--primary-white-color);
  font-family: -apple-system, Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  color: var(--primary-text-colour);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.logo {
  display: block;
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.button {
  height: 50px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px 0 32px;
  margin: 0;
}
.soc-link__item:not(:last-child) {
  margin-right: 10px;
}

.soc-link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill var(--timing-function) var(--cubic), background-color var(--timing-function) var(--cubic);
}
.soc-link__icon:hover, .soc-link__icon:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function) var(--cubic), visibility var(--timing-function) var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: calc(100% - 15px);
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function) var(--cubic);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    height: 609px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}

.modal__title {
  margin-bottom: 12px;
  color: var(--primary-text-colour);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  fill: #000000;
  transition: fill var(--timing-function) var(--cubic);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-text-color);
}

.modal__form-field:nth-child(-n+3) {
  margin-bottom: 10px;
  transition: fill var(--timing-function) var(--cubic);
}
.modal__form-field:focus-within, .modal__form-field:hover {
  fill: var(--accent-text-color);
}

.modal__label {
  color: var(--secondary-text-color);
}
.modal__label:not(:last-child) {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--timing-function) var(--cubic), box-shadow var(--timing-function) var(--cubic);
}
.modal__input:focus-within, .modal__input:hover {
  border-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__form-field--comment {
  margin-bottom: 20px;
}

.modal__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--timing-function) var(--cubic), box-shadow var(--timing-function) var(--cubic);
}
.modal__textarea:focus-within, .modal__textarea:hover {
  border-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field--check {
  margin-bottom: 30px;
}

.modal__check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .modal__check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check-link {
  margin-left: 4px;
  color: var(--accent-text-color);
}

.modal__check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-colour);
  border-radius: 2px;
  fill: transparent;
}
.modal__check:focus + .modal__check-text .modal__check-icon, .modal__check:hover + .modal__check-text .modal__check-icon {
  border-color: var(--accent-text-color);
}
.modal__check:checked + .modal__check-text .modal__check-icon {
  background-color: var(--accent-text-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header__menu-btn {
  margin-left: auto;
  transition: fill var(--timing-function) var(--cubic);
}
.header__menu-btn:hover, .header__menu-btn:focus {
  fill: var(--accent-text-color);
}

.logo__part--dark {
  color: var(--primary-text-colour);
}

.menu-btn {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-white-color);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 1;
  transition: opacity var(--timing-function) var(--cubic), visibility var(--timing-function) var(--cubic);
}
.mob-menu__container {
  padding: 48px 15px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}
.mob-menu__menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill var(--timing-function) var(--cubic);
}
.mob-menu__menu-btn:hover, .mob-menu__menu-btn:focus {
  fill: var(--accent-text-color);
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-site-nav__item {
  margin-bottom: 32px;
}
.mob-site-nav__link {
  color: var(--primary-text-colour);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--cubic);
}
.mob-site-nav__link:hover, .mob-site-nav__link:focus {
  color: var(--accent-text-color);
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__item-tel {
  margin-bottom: 32px;
}
.mob-connect__link-tel {
  color: var(--accent-text-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mob-connect__link-mail {
  color: var(--secondary-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--cubic);
}
.mob-connect__link-mail:hover, .mob-connect__link-mail:focus {
  color: var(--accent-text-color);
}

.mob-soc-link {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mob-soc-link__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-link__link {
  color: var(--accent-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-colour);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--cubic);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}

.connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
  }
  .connect__item + .connect__item {
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.connect__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--cubic);
}
@media screen and (min-width: 1200px) {
  .connect__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-text-color);
}
.site-nav__link--current::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
}

.connect__mail-icon,
.connect__phone-icon {
  margin-right: 8px;
  fill: currentColor;
}
.connect__mail-icon:hover, .connect__mail-icon:focus,
.connect__phone-icon:hover,
.connect__phone-icon:focus {
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .connect__mail-icon,
.connect__phone-icon {
    margin-right: 10px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero-2x.jpg");
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--tipycal-margin);
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tipycal-margin);
}
.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}
.benefits__title {
  margin-bottom: 10px;
  color: var(--primary-text-colour);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}
.benefits__descr {
  color: var(--secondary-text-color);
}
.benefits__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--tipycal-margin);
  background-color: var(--secondary-background-color);
  height: 120px;
  width: 100%;
}

.section--no-padding {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--no-padding {
    display: block;
    padding-top: 0;
  }
}

.works__section-title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works__section-title {
    display: block;
  }
}

.works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works {
    display: flex;
  }
  .works__descr {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

.works__item {
  position: relative;
}
.works__item:not(:last-child) {
  margin-right: var(--tipycal-margin);
}

.section--team {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tipycal-margin);
}
.team__descr {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__descr {
    padding-bottom: 30px;
  }
}
.team__title {
  margin-bottom: 10px;
  color: var(--primary-text-colour);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}
.team__subtitle {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__item {
  width: 100%;
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tipycal-margin);
}

.clients__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill var(--timing-function) var(--cubic), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo-icon:hover, .clients__logo-icon:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color);
}
@media screen and (min-width: 768px) {
  .footer__wrapper-tab {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
.footer__soc-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__soc-list {
    margin-left: 70px;
  }
}
.footer__text {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer__text {
    text-align: center;
  }
}
.footer__soc-link {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    width: 570px;
    margin-left: 93px;
  }
}

.logo__part--light {
  color: var(--primary-white-color);
}

.contacts__item {
  width: 231px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .contacts__item {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts__adress,
.contacts__link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  transition: color var(--timing-function) var(--cubic);
}

.contacts__adress {
  color: var(--primary-white-color);
}
.contacts__adress:hover, .contacts__adress:focus {
  color: var(--accent-text-color);
}

.contacts__link {
  color: var(--third-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.soc-icon__icon--white {
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe__form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscribe__form {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
  }
}
.subscribe__input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 62px 10px 28px;
}

.button__btn-wrapper {
  max-width: 200px;
  position: relative;
}

.button__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-nav {
    margin-bottom: var(--tipycal-margin);
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-nav {
    margin-bottom: 50px;
  }
}

.portfolio-nav__button {
  height: 38px;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--primary-text-colour);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  line-height: 1.62;
  transition: color var(--timing-function) var(--cubic), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__button--current, .portfolio-nav__button:hover, .portfolio-nav__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tipycal-margin);
}
.card__heading {
  padding: 20px 24px;
}
.card__title {
  margin-bottom: 4px;
  color: var(--primary-text-colour);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.card__subtitle {
  margin-right: auto;
  margin-left: auto;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}

.card__item {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  transition: opacity var(--timing-function) var(--cubic);
}
@media screen and (min-width: 768px) {
  .card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: calc((100% - 60px) / 3);
  }
}

.card__link {
  display: block;
  transition: box-shadow var(--timing-function) var(--cubic);
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}
.card__thumb::before {
  display: inline-block;
  position: absolute;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: opacity var(--timing-function) var(--cubic), transform var(--timing-function) var(--cubic);
}
.card__link:hover .card__thumb::before, .card__link:focus .card__thumb::before {
  opacity: 1;
  transform: translateY(0);
}

.card__descr {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: opacity var(--timing-function) var(--cubic), transform var(--timing-function) var(--cubic);
}
.card__link:hover .card__descr, .card__link:focus .card__descr {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */