.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--accent-background-color);
    &__content {
      display: flex;
      align-items: baseline;
    }
    &__logo {
      margin-bottom: 20px;
    }
    &__soc-list {
      margin-left: 70px;
    }
    
    &__text {
      margin-bottom: 20px;
      color: var(--primary-white-color);
      @include font(14px, 700, 1.14, null);
      text-transform: uppercase;
    }
    
    &__soc-link {
      padding: 0;
      margin: 0;
    }

    &__subscribe {
      width: 570px;
      margin-left: 93px;
    }
  }

  .logo__part--light {
    color: var(--primary-white-color);
  }
  
  .contacts__item {
    width: 231px;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  
  .contacts__adress,
  .contacts__link {
    font-style: normal;
    @include font(14px, 400, 1.71, null);
    transition: color var(--timing-function) var(--cubic);
  }
  
  .contacts__adress {
    color: var(--primary-white-color);
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  
  .contacts__link {
    color: var(--third-text-color);
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  
  .soc-icon__icon--white {
    fill: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .subscribe__form {
    display: flex;
  }
  
  .subscribe__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    color: var(--primary-white-color);
    @include font(16px, null, 1.25, null);
    &:placeholder-shown {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .subscribe__button {
    padding: 10px 62px 10px 28px;
  }
  
  .button__btn-wrapper {
    display: block;
    position: relative;
  }
  
  .button__icon {
    position: absolute;
    top: 13px;
    right: 28px;
  }