.button {
    height: 50px;
    min-width: 200px;
    border: none;
    border-radius: 4px;
  
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
    font-family: inherit;
    @include font(16px, 700, 1.88, 0.06em);
    text-align: center;
  
    cursor: pointer;
  }
  