.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--timing-function) var(--cubic),
    visibility var(--timing-function) var(--cubic);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: calc(100% - 15px);
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    height: 609px;
    width: 450px;
  }
  @include desktop {
    height: 581px;
    width: 528px;
  }
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function) var(--cubic);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.75);
  }
}

.modal__title {
  margin-bottom: 12px;

  color: var(--primary-text-colour);
  @include font(20px, 700, 1.15, null);
  text-align: center;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  fill: #000000;

  transition: fill var(--timing-function) var(--cubic);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.modal__form-field {
  &:nth-child(-n + 3) {
    margin-bottom: 10px;

    transition: fill var(--timing-function) var(--cubic);
  }
  &:focus-within,
  &:hover {
    fill: var(--accent-text-color);
  }
}

.modal__label {
  color: var(--secondary-text-color);
  &:not(:last-child) {
    display: block;
    margin-bottom: 4px;
    @include font(12px, 400, 1.16, 0.01em);
  }
}

.modal__input {
  width: 100%;
  height: 40px;

  margin: 0;
  padding: 12px 12px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--timing-function) var(--cubic),
    box-shadow var(--timing-function) var(--cubic);
  &:focus-within,
  &:hover {
    border-color: var(--accent-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__form-field--comment {
  margin-bottom: 20px;
}

.modal__textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--timing-function) var(--cubic),
    box-shadow var(--timing-function) var(--cubic);
  &:focus-within,
  &:hover {
    border-color: var(--accent-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &:placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__form-field--check {
  margin-bottom: 30px;
}

.modal__check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--secondary-text-color);
  @include font(12px, null, 1.16, null);
  @include desktop {
    @include font(14px, null, 1.71, null);
  }
}

.modal__check-link {
  margin-left: 4px;
  color: var(--accent-text-color);
}

.modal__check-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-colour);
  border-radius: 2px;
  fill: transparent;
  .modal__check:focus + .modal__check-text &,
  .modal__check:hover + .modal__check-text & {
    border-color: var(--accent-text-color);
  }
  .modal__check:checked + .modal__check-text & {
    background-color: var(--accent-text-color);
    border: none;
    fill: var(--primary-white-color);
  }
}

.modal__button {
  padding: 10px 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
