:root {
    --primary-text-colour: #212121;
    --secondary-text-color: #757575;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --accent-text-color: #2196f3;
    --primary-white-color: #ffffff;
    --main-background-color: #e5e5e5;
    --secondary-background-color: #f5f4fa;
    --accent-background-color: #2f303a;
    --tipycal-margin: 30px;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --timing-function: 250ms;
  }
  